[submodule "terminal-addalias"]
	path = terminal-addalias
	url = https://github.com/TylerOlson/terminal-addalias
[submodule "Extract"]
	path = Extract
	url = https://github.com/xvoland/Extract
[submodule "neofetch"]
	path = neofetch
	url = https://github.com/dylanaraps/neofetch
[submodule "redshift"]
	path = redshift
	url = https://github.com/jonls/redshift
[submodule "Win10/themes"]
	path = Win10/themes
	url = https://github.com/luizfnunes/JacWin10/
